@media screen and (max-width:1100px) {

    // Header
    .nav__left {
     display: none;
    }
    .nav__right {
        display: none;
    }
    .header__burger {
        display: flex;
    }
}
@media screen and (max-width:600px){
    // header
    .header {
        margin-top: 19px;
        padding: 0 20px;
    }
}