*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button{
    border:none;
    cursor: pointer;
    transition: all 0.2s;
}


body{
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
}
$colorBlue: #446DF6;
$colorBlueHover:  #244ac6;
$colorNavyBlue:#141B41;
$colorRed: rgb(193, 32, 69);
$colorGrey: #72727E;
$color141-b-41: #141B41;
@mixin containerMain{
    max-width: 1230px;
    width:100%;
    margin: 0 auto;
    padding: 0 30px;
}
@mixin containerMain-2{
    max-width: 700px;
}
@mixin button{
    border-radius: 6px;
    background: $colorBlue;

    color: #FFF;
     &:hover{
        background-color:$colorBlueHover;
    }
    &:active{
        transform: scale(0.97);
    }
}


.container{
   max-width: 1440px; 
   width: 100%;
   min-width: 300px;
   margin: 0 auto;
}

// burger
.burger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#00000067;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.burger__content {
    max-width: 320px;
    background: #FFF;
    padding: 19px 20px 42px;
    border-radius:5px;
    transform: translateX(-320px);
    transition:  0.5s;
}
.burger__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin: 0 auto;
}
.burger__nav-box-1 {
   display: grid;
   row-gap: 30px;
   padding: 30px 0px;
   justify-items: center;
}
.burger__nav-box-2 {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
.button-1 {
    @include button();
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    }
.burger__nav-box-3 {
    margin-top: 38px;
    text-align: center;
}


// Header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include containerMain();
    margin-top: 39px;
}
.logo {
    width: 120px;
    height: 22.178px;
}
.header__nav.open{
    display: flex !important;
    transform:translateX(0px);
    visibility: visible;
    transition: 0.3s;
}
.header__nav {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}
.nav__left {
    display: flex;
    // flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    max-width: 539px;
}
.nav__left-text {
    color: $colorGrey;
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    transition: 0.2s;
    &:hover{
        color:$colorNavyBlue;
    }
    &:active{
        color:$colorRed;
    }
}
.nav__link {
    color: $colorBlue;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    &:hover{
        color:$colorBlueHover;
    &:active{
        color:$colorRed;
    }
    }
}
.burger{
    display: none;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 14px;
    position: relative;
    z-index: 50;
    cursor: pointer;
    & span{
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color:$colorGrey;
    } 
    &::before,&::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color:$colorGrey;
        transition: all 0.3s ease 0s; 
    }
    &::before{top:0}
    &::after{bottom: 0;}  
}
.burger.active span{transform: scale(0);}
.burger.active::before{
top: 50%;
transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0 , 50%);
}

// .header__burger {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 3px;
//     height: 20px;
//     cursor: pointer;
//     transition: 0.2s;
//     &:hover{
//        div{
//         background-color:$colorNavyBlue;
//        }
//     &:active{
//         div{
//             background-color:$colorRed;
//         }
//     }
//     }

//     display: none;
// }
// .header__burger-line{
//     width: 20px;
//     height: 2px;
//     background-color: $colorGrey;
// }

// Baner
.baner {
    display: flex;
    flex-direction: row;
    position: relative;
    @include containerMain(); 
}
.baner__box-1 {
    z-index: 1;
}
.baner__h1 {
    color: $color141-b-41;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;

    margin-top: 180px;
    max-width: 580px;
    background-color:rgba(240, 248, 255, 0.438);
    border-radius:10px;
}
.baner__img-arrow {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
}
.baner__img-arrow-2{
    display: none;
    height: 30px;
    margin: 19px auto 0;
}
.baner_text {
    color:$color141-b-41 ;
    font-size: 24px;
    font-weight: 300;
    line-height: 33.6px;

    max-width: 528px;
    margin-top: 19px;
    background-color:rgba(240, 248, 255, 0.438);
    border-radius:10px;
}
.baner__button {
    margin-top: 50px;
}
.button {
    @include button();
    width: 240px;
    height: 60px;

    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}
.baner__box-2 {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translateX(100px);
    background:url('../img/photo/Transaction\ History\ 10.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1040px;
}
.baner__img-2{
    display: none;
    width: 100%;
    margin-top: 50px;
}


 

