// Start
.start {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}
.start__box-1-img {
    max-width: 420px;
    width: 100%;
}
.start__title {
    @include titleH2();
}
.start__box-2 {
    display: flex;
    flex-direction: column;
}
.start__box-2-items {
    display: grid;
    row-gap: 60px;
    margin-top: 60px;
}
.start__box-2-item {
    display: flex;
   align-items:center;
}
.start__box-2-icon{
    @include icon();
}
.start__box-2-boxText {
    margin-left: 40px;
}
.start__box-2-title {
 @include subtitle();
}
.start__box-2-text {
  @include text();

    margin-top: 8px;
}

@media screen and (max-width:1100px){
    .start {
        margin-top: 70px;
        flex-direction: column-reverse; 
        align-items: center;
    }
    .start__title {
        text-align: center;
    }
    .start__box-2-items{
    margin-top: 40px;
    }
    .start__box-2-item {
        flex-direction: column;
    }
    .start__box-2-boxText {
        margin-left: 0px;
    }
    .start__box-2-title {
        text-align: center;
        margin-top: 25px;
    }
    .start__box-2-text {
        text-align: center;
        margin-top: 10px;
    }
}
@media screen and (max-width:600px){
    .start__title {
      @include titleH2-320();
      }
    .start__box-2-title {
     @include subtitle-320();
    }
    .start__box-2-text {
      @include subtitle-text-320();
    }
}